{% extends "base.html" %}

{% block content %}
  <div class="landing-section-content landing-contact">
    <h1 class="brand">Thank you for contacting us!</h1>
    <p class="landing-main-text">A member of our team will get back to you as soon as possible.</p>
    <p class="landing-main-text">
      <a href="{% url 'home' %}" class="btn btn-primary">Back to home</a>
    </p>
    <p class="landing-main-text">
      <a href="{% url 'pages:contact' %}" class="btn btn-primary">Contact us again</a>
    </p>
  </div>
{% endblock content %}
