{% extends "base.html" %}

{% block content %}
  <section class="landing-section landing-legal">
    <h1>Legal Notice</h1>
    <p>
      HITS gGmbH
      <br />
      Heidelberg Institute for Theoretical Studies
      <br />
      Schloss-Wolfsbrunnenweg 35
      <br />
      69118 Heidelberg
      <br />
      Phone: +49 6221 533 533
      <br />
      Fax: +49 6221 533 298
      <br />
      E-mail: webmaster@h-its.org
    </p>
    <h4>Represented by:</h4>
    <p>Dr Gesa Schönberger</p>
    <h4>Court of Registration:</h4>
    <p>Local Court (Amtsgericht) of Mannheim, Commercial Register: HRB 337446</p>
    <h4>
      VAT identification number pursuant to section 27a of the German Value Added Tax Act (Umsatzsteuergesetz, “UStG”):
    </h4>
    <p>DE232037958</p>
    <h4>
      Person responsible for the content of this website in accordance with section 18 (2) of the German State Media Agreement (Medienstaatsvertrag, “MStV”):
    </h4>
    <p>
      Peter Saueressig
      HITS gGmbH
      Schloss-Wolfsbrunnenweg 35
      69118 Heidelberg
    </p>
    <h4>European Online Dispute Resolution platform (for consumers):</h4>
    <a href="https://ec.europa.eu/odr">ec.europa.eu/odr</a>
    <p>
      We have no obligation to and will not participate in dispute resolution proceedings before a consumer conciliation tribunal.
    </p>
    <p>
      As a content provider under section 7 (1) of the German Telemedia Act (Telemediengesetz, “TMG”), HITS is responsible for its “own content” published on this website. This own content must be differentiated from links to content provided by third parties. Links may be used to provide access to “third party content”. This content is identified accordingly by the reference “[external]”. This third party content is reviewed when the link is first created to check whether it could give rise to any civil or criminal liability. It is possible, however, that the relevant provider will subsequently change its content. HITS does not constantly check whether the linked content on its website has been changed in a way that could give rise to liability. Please let us know if you believe linked external websites infringe applicable law or otherwise include inappropriate content. We will then remove the content immediately.
    </p>
    <p>© 2021 HITS gGmbH</p>
    <p>
      Unless the German Copyright Act (Urhebergesetz) provides otherwise, any use of copyright material and articles, particularly their reproduction or dissemination, without the website operator’s prior permission is unlawful and may be prosecuted.
    </p>
  </section>
{% endblock content %}
