.detail-section-content {
  padding: 2rem 0;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}
.detail-section-file{
  margin-top: 1.5rem;
  border-top: 2px solid var(--color-black);
  padding: 1.5rem;
  background-color: var(--color-gray);
}
.detail-section-text {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.detail-interactive {
  width: 95%;
  height: 720px;
}
.detail-interactive-lightcurve {
  width: 95%;
  height: 850px;
}
