.header {
  width: 100vw;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: fixed;

  background: var(--color-secondary);
}

.header-link {
  margin: 1rem;
  border-bottom: 3px solid #fca311;
  font-size: 1.2rem;
  color: var(--color-white);
  text-decoration: none;
  color: var(--color-primary);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  width: 100%;
  height: auto;
  background: var(--color-secondary);
  color: var(--color-white);
  display: block;

  align-items: center;

  padding: 2em 5rem;
  margin-top: auto;
}
.footerline {
  border: 1px solid var(--color-white);
  text-align: center;
  align-items: center;

  margin-top: 2rem;

  height: 0px;
  width: 100%;
}
.bottommenu {
  text-align: center;
  margin-top: 2rem;
}
.footer-link {
  margin: 1rem;
  border-bottom: 1px solid #fca311;
  font-size: 1rem;
  color: var(--color-white);
  text-decoration: none;
  color: var(--color-primary);
}
