.brand {
  margin: 0;
  color: var(--color-primary);
}

.brand-text {
  color: var(--color-primary);
}

.landing-section {
  min-height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-section-content {
  padding: 2rem 1rem;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
}

.landing-main {
  background: white no-repeat center center fixed;
  background-size: cover;
  color: var(--color-black);
}

.landing-main-text {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
}

.landing-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

.langing-features {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.landing-feature {
  margin: 2rem;
  min-width: 300px;
}
.landing-legal {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 5%;
  min-width: 300px;
}

.landing-link {
  margin: 1rem;
  border-bottom: 3px solid #fca311;
  font-size: 1.2rem;
  color: var(--color-black);
  text-decoration: none;
}

.landing-news {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.landing-news-item {
  padding: 1rem;
  border-bottom: 1px solid var(--color-black);
}

.landing-news-date {
  font-size: 0.8rem;
  color: var(--color-black);
}

.landing-news-text {
  font-size: 1.2rem;
  color: var(--color-black);
}

.landing-models {
  margin: 1rem;
  padding: 1rem;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.landing-model-list {
  overflow:auto;
  max-height: 300px;
  width: 75%;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px #ccc;
  align-items: center;
}
