:root {
  --color-primary: #fca311;
  --color-secondary: #14213d;
  --color-white: #ffffff;
  --color-gray: #e5e5e5;
  --color-black: #000000;
  --color-border: #cccccc;
}

.nav-link {
  color: var(--color-white) !important;
}
.navbar-brand {
  color: var(--color-primary);
}
.bg-light {
  background-color: var(--color-secondary) !important;
}
ul {
  list-style-type: square;
}
.container {
  padding: 3rem;
}
.btn-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  align-content: center;
}
.upload-btn {
  display: inline-block;
  text-align: center;
}
.hits_logo {
  width: 300px;
}

.modal-title {
  color: var(--color-primary);
}
.modal-body {
  color: var(--color-secondary);
}
