{% extends "base.html" %}

{% load auth_extras %}

{% block content %}
  <section class="landing-section landing-main">
    <div class="landing-section-content">
      <h1 class="brand">HESMA Tracer Particles</h1>
      <p class="landing-main-text">
        Upload your tracer particles to the HESMA database. Please read the FAQ before uploading.
      </p>
    </div>
  </section>
  <div class="landing-section-content">
    <h2>Success! You just uploaded tracer particles!</h2>
  </div>
{% endblock content %}
