{% extends "base.html" %}

{% block content %}
  <section class="landing-section">
    <div class="landing-section-content">
      <h1 class="brand">{{ model.name }}</h1>
      <p class="landing-main-text">{{ model.description }}</p>
    </div>
  </section>
  <div class="detail-section-content">
    <ul>
      <li>
        <b>Reference: </b> {{ model.reference }}
      </li>
      <li>
        <b>Date uploaded: </b>{{ model.date }}
      </li>
      <li>
        <b>Author: </b>{{ model.author }}
      </li>
      <li>
        <b>README: </b><a href="{% url 'hydro:hydro_download_readme' model.id %}"
   target="_blank">{{ model.readme }}</a>
      </li>
    </ul>
    <a href="{% url 'hydro:hydro_download_info' model.id %}"
       target="_blank"
       class="btn btn-primary">Download</a>
    {% if user.is_authenticated %}
      <a href="{% url 'hydro:hydro_edit' model.id %}" class="btn btn-primary">Edit</a>
    {% endif %}
  </div>
  {% for model_file in model.hydrosimulation1dmodelfile_set.all %}
    <div class="detail-section-content">
      <h2>{{ model_file.name }}</h2>
      {{ model_file.get_plot_html|safe }}
    </div>
  {% endfor %}
{% endblock content %}
