{% extends "base.html" %}

{% load auth_extras %}

{% block content %}
  <section class="landing-section landing-main">
    <div class="landing-section-content">
      <h1 class="brand">HESMA Hydro Models</h1>
      <p class="landing-main-text">
        Upload your hydrodynamical simulation to the HESMA database. Please read the FAQ before uploading.
      </p>
    </div>
  </section>
  <div class="landing-section-content">
    <h2>Upload successful! You just uploaded a hydro model!</h2>
  </div>
{% endblock content %}
