{% extends "base.html" %}

{% load auth_extras %}
{% load widget_tweaks %}

{% block content %}
  <section class="landing-section landing-main">
    <div class="landing-section-content">
      <h1 class="brand">HESMA RT Models</h1>
      <p class="landing-main-text">Upload your RT model to the HESMA database. Please read the FAQ before uploading.</p>
    </div>
  </section>
  <div class="landing-section-content">
    <h2>Upload model:</h2>
    <p>Please enter model details below. You will be able to upload the model files in the next step.</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form.media }}
        {{ form.as_table }}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
      </table>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <p>If you can't find the correct DOI for your model, you can add it to the database here:</p>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <button id="create-doi" class="btn btn-primary" type="button" name="button">Create DOI</button>
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script type="text/javascript">
    // BS4
    $(document).ready(function() {
      $("#create-doi").modalForm({
        formURL: "{% url 'meta:doi_create_rt' %}",
      });
    });

    // BS5
    document.addEventListener('DOMContentLoaded', (e) => {
      modalForm(document.getElementById('create-doi'), {
        formURL: "{% url 'meta:doi_create_rt' %}",
      })
    });
  </script>
{% endblock inline_javascript %}
